.header{
    margin-top: 60px;

}
.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: #444;
}
.headerTitleSm {
    position: absolute;
    top: 20%;
    font-size: 20px;
    background-color: gray;
    z-index: 2;
    color: white;
  }
  
  .headerTitleLg {
    position: absolute;
    top: 22%;
    font-size: 80px;
    border: 0.5px solid gray;
  }
.headerImage{
    width: 100%;
  height: 450px;
  margin-top: 80px;
  object-fit: cover;
}
@media (max-width:400px){
  .headerTitleSm {
    position: absolute;
    left: 0;
  }
  .headerTitleLg{
    position: absolute;
    left: 0;
    border: none;
    font-size: 60px;
  }
}